<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ehpapm="Peaksourcing\Ehpapm\ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
    <h1>Report</h1>
    <div class="panel-body">
        <f:form action="list" enctype="multipart/form-data" name="filter" class="form-horizontal">
            <div class="form-group">
                <label for="user">User</label>
                <f:form.select
                        id="user"
                        class="form-control"
                        property="user"
                        options="{users}"
                        optionValueField="uid"
                        optionLabelField="email"
                        value="{args.filter.user}"
                        prependOptionLabel="{f:translate(key: 'please_select')}"
                />
            </div>
            <div class="form-group">
                <label for="project">Project</label>
                <f:form.select
                        id="project"
                        class="form-control"
                        property="project"
                        value="{args.filter.project}"
                        options="{projects}"
                        optionValueField="uid"
                        optionLabelField="name"
                        prependOptionLabel="{f:translate(key: 'please_select')}"
                />
            </div>
            <div class="form-group">
                <label for="task">Task</label>
                <f:form.select
                        id="task"
                        class="form-control"
                        property="task"
                        options="{tasks}"
                        value="{args.filter.task}"
                        optionValueField="uid"
                        optionLabelField="name"
                        prependOptionLabel="{f:translate(key: 'please_select')}"
                />
            </div>
            <div class="form-group">
                <label>
                    <f:translate key="tx_ehpapm_domain_model_ticket.time_period"/>
                </label>
                <div class="input-group input-daterange">
                    <div class="input-group-addon">From Date</div>
                    <f:form.textfield property="fromDate" value="{args.filter.fromDate}"
                                      class="form-control date-format datetimepicker"
                                      id="from-date" required="1"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    <div class="input-group-addon">To Date</div>
                    <f:form.textfield property="toDate" value="{args.filter.toDate}" class="form-control date-format datetimepicker"
                                      id="to-date" required="1"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
            <div class="row">
                <f:form.submit value="{f:translate(key: 'filter')}" class="btn btn-primary"/>
            </div>
        </f:form>
    </div>
    <div class="col-xs-12">
        <f:form action="export" controller="Report" enctype="multipart/form-data" name="export" class="form-horizontal">
            <f:form.hidden
                    property="task"
                    value="{args.filter.task}"
                    class="hidden"
            />
            <f:form.hidden
                    property="project"
                    value="{args.filter.project}"
                    class="hidden"
            />
            <f:form.hidden
                    property="user"
                    value="{args.filter.user}"
                    class="hidden"
            />
            <f:form.hidden
                    property="fromDate"
                    value="{args.filter.fromDate}"
                    class="hidden"
            />
            <f:form.hidden
                    property="toDate"
                    value="{args.filter.toDate}"
                    class="hidden"
            />
            <div class="row">
                <f:form.submit value="{f:translate(key: 'export')}" class="btn btn-warning"/>
            </div>
        </f:form>
    </div>
    <div class="row">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Dates</th>
                        <f:for each="{allTasks}" as="task" iteration="i">
                            <th>{task.project.0.name} - {task.name}</th>
                        </f:for>
                        <th><b>Total per date</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{itemsPerDate}" as="day" key="key">
                        <tr>
                            <td>{key}</td>
                            <f:for each="{allTasks}" as="task" iteration="i">
                                <td>
                                    <f:if condition="{task.uid} = {day.items.0.task_uid}">
                                        <f:for each="{day.items}" as="item" iteration="i">
                                            <f:if condition="{task.uid} == {item.task_uid}">
                                                {ehpapm:AddLeadingZero(number: item.spentTimeSumHours)}:{ehpapm:AddLeadingZero(number: item.spentTimeSumMinutes)}
                                            </f:if>
                                        </f:for>
                                    </f:if>
                                </td>
                            </f:for>
                            <td><b>{ehpapm:AddLeadingZero(number: day.items.sumAllHours)}:{ehpapm:AddLeadingZero(number: day.items.sumAllMinutes)}</b></td>
                        </tr>
                    </f:for>
                    <tfoot>
                    <tr>
                        <td><b>Total per task</b></td>
                        <f:for each="{allTasks}" as="task" iteration="t">
                            <td>
                                <b>
                                    <f:for each="{itemsPerTask}" as="item" key="i">
                                        <f:if condition="{task.uid} == {i}">
                                            {ehpapm:AddLeadingZero(number: item.items.sumAllHours)}:{ehpapm:AddLeadingZero(number: item.items.sumAllMinutes)}
                                        </f:if>
                                    </f:for>
                                </b>
                            </td>
                        </f:for>
                        <td><b>{ehpapm:AddLeadingZero(number: sumAllHours)}:{ehpapm:AddLeadingZero(number: sumAllMinutes)}</b></td>
                    </tr>
                    </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</f:section>
</html>