<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    {namespace ehpapm=Peaksourcing\Ehpapm\ViewHelpers}
    <h1>Absence</h1>

    <f:link.action action="new" arguments="{chooseUser:'{user:\'{chooseUser}\'}'}" class="btn btn-default">New Absence
    </f:link.action>
    <div class="panel-body">

            <f:security.ifHasRole role="{settings.admingroup}">
        <f:form action="list" enctype="multipart/form-data" name="chooseUser" class="form-horizontal">
            <div class="form-group">
                <label for="user">User</label>
                <f:security.ifHasRole role="{settings.admingroup}">
                    <f:then>
                        <f:form.select
                                id="user"
                                class="form-control"
                                property="user"
                                options="{users}"
                                optionValueField="uid"
                                optionLabelField="email"
                                value="{chooseUser}"
                                prependOptionLabel="{f:translate(key: 'please_select')}"
                        />
                    </f:then>
                    <f:else>
                        <f:form.select
                                id="user"
                                class="form-control disabled"
                                optionValueField="uid"
                                optionLabelField="email"
                                property="user"
                                options="{0:chooseUser}"
                        />
                    </f:else>
                </f:security.ifHasRole>
            </div>
                <div class="form-group">
                    <div class="row">
                        <label for="payslip" class="col-md-1">
                            <f:translate key="tx_ehpapm_domain_model_absence.payslip"/>
                        </label>
                        <div class="col-md-11">
                            <f:form.checkbox
                                    id="payslip"
                                    property="payslip"
                                    value="1"
                                    additionalAttributes="{f:if(condition: payslip, then: '{checked: \'checked\'}')}"
                            />
                        </div>
                    </div>
                </div>
            <div class="form-group">
                <f:form.submit value="{f:translate(key: 'filter')}" class="btn btn-primary"/>
            </div>
        </f:form>
            </f:security.ifHasRole>
        <!--<a href="{f:uri.action(action: 'list', pageType: '85143514', format: 'json', absolute: '1') -> f:format.htmlentitiesDecode()}">json</a>-->
    </div>
    <div class="content-box-large">
        <div class="panel-body">
            <div class="agenda">
                <p>
                    <span class="btn btn-info btn-xs" style="background: #5AACEE; border-color: #5AACEE;">Holiday
                    </span>
                    <span class="btn btn-info btn-xs" style="background: #965800; border-color: #965800;">Personal
                    </span>
                    <f:security.ifHasRole role="{settings.admingroup}">
                        <span class="btn btn-info btn-xs" style="background: #015E10; border-color: #015E10;">
                            Payslip
                        </span>
                    </f:security.ifHasRole>
                </p>
            </div>
            <div id='calendar'></div>
        </div>
    </div>
    <f:comment>
        conf: {_descendAll: {_exclude: {0: 'url'}}}
    </f:comment>
    <script>

		var data = {data -> ehpapm:serialize()-> f:format.htmlentitiesDecode()};
		$(function () {
			// Easy pie charts
			var calendar = $('#calendar').fullCalendar({
				header: {
					left: 'prev,next,today',
					center: 'title',
					right: 'listDay,listWeek,month'
				},
				views: {
					listDay: {buttonText: 'list day'},
					listWeek: {buttonText: 'list week'}
				},
				startParam: 'startformated',
				endParam: 'endformated',
				themeSystem: 'jquery-ui',
				timeFormat: 'HH:mm',
				selectable: false,
				eventRender: function (event, element) {
					var popUpComment = event.comment ? 'Comment:' + event.comment : '';
					element.popover({
						animation: true,
						html: true,
						delay: 300,
						content: event.comment,
						trigger: 'hover'
					});
					element.find('.fc-title').text(event.calendarTitle);
				},
				selectHelper: false,
				droppable: false, // this allows things to be dropped onto the calendar !!!
				editable: false,
				events : data
			});
		});
    </script>
</f:section>
</html>