{namespace ehpapm=Peaksourcing\Ehpapm\ViewHelpers}
<span class="preheader"></span>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            Dear {user.firstName} {user.lastName},
            <f:format.html>{content}</f:format.html>
            <table align="center" class="container float-center">
                <tbody>
                <tr>
                    <td>
                        <table class="row">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <th>
                                    <f:translate
                                            key="tx_ehpapm_domain_model_ticket.description"/>
                                </th>
                                <th>
                                    <f:translate
                                            key="tx_ehpapm_domain_model_ticket.spent_time"/>
                                </th>
                                <th>
                                    <f:translate
                                            key="tx_ehpapm_domain_model_ticket.for_date"/>
                                </th>
                                <th></th>
                            </tr>
                            <f:for each="{tickets}" as="ticket" iteration="i">
                                <tr>
                                    <td>
                                        {ticket.ticket.uid}
                                    </td>
                                    <td>
                                        <p><b>{ticket.ticket.task.0.name}</b>{ticket.ticket.description
                                            ->f:format.html(parseFuncTSPath:'lib.parseFunc')}</p>
                                    </td>
                                    <td>
                                        {ehpapm:AddLeadingZero(number:
                                        ticket.ticket.spentTimeHours)}:{ehpapm:AddLeadingZero(number:
                                        ticket.ticket.spentTimeMinutes)}
                                    </td>
                                    <td>
                                        {ticket.ticket.forDate -> f:format.date(format: 'd/m/Y')}
                                    </td>
                                    <td>
                                        <div class="btn-group pull-right" role="group">
                                            <a href="{ticket.link}" class="btn btn-default btn-primary">Edit</a>
                                        </div>
                                    </td>
                                </tr>
                            </f:for>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>