<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="title">
                <f:translate key="tx_ehpapm_domain_model_absence.title"/>
            </label>
            <f:form.textfield property="title" value="{absence.title}" class="form-control" id="title" required="1"/>
        </div>
    </div>
</div>
<f:security.ifHasRole role="{settings.admingroup}">
    <f:then>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="type">
                        <f:translate key="tx_ehpapm_domain_model_absence.type"/>
                    </label>
                    <f:form.select
                            id="type"
                            class="form-control"
                            property="type"
                            options="{types}"
                            additionalAttributes="{required: 'required'}"
                            optionValueField="uid"
                            optionLabelField="name"
                    />
                </div>
            </div>
        </div>
    </f:then>
    <f:else>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="type">
                        <f:translate key="tx_ehpapm_domain_model_absence.type"/>
                    </label>
                    <f:form.select
                            id="type"
                            class="form-control"
                            property="type"
                            options="{employeeAbsenceTypes}"
                            additionalAttributes="{required: 'required'}"
                            optionValueField="uid"
                            optionLabelField="name"
                    />
                </div>
            </div>
        </div>
    </f:else>
</f:security.ifHasRole>
<f:security.ifHasRole role="{settings.admingroup}">
    <f:then>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="row">
                    <label for="payslip" class="col-md-1">
                        <f:translate key="tx_ehpapm_domain_model_absence.payslip"/>
                    </label>
                    <div class="col-md-11">
                        <f:form.checkbox
                                id="payslip"
                                property="payslip"
                                value="1"
                                additionalAttributes="{f:if(condition: absence.payslip, then: '{checked: \'checked\'}')}"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </f:then>
    <f:else>
        <f:form.hidden
                id="payslip"
                property="payslip"
                value="0"
        />
    </f:else>
</f:security.ifHasRole>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="input-group input-daterange">
                <div class="input-group-addon">from</div>
                <f:form.textfield property="startDate" value="{absence.startDate -> f:format.date(format: 'd/m/Y')}"
                                  class="form-control datetimepicker" id="startDate" required="1"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <div class="input-group-addon">to</div>
                <f:form.textfield property="endDate" value="{absence.endDate -> f:format.date(format: 'd/m/Y')}"
                                  class="form-control datetimepicker" id="endDate" required="1"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="user">
        <f:translate key="tx_ehpapm_domain_model_user"/>
    </label>
    <f:security.ifHasRole role="{settings.admingroup}">
        <f:then>
            <f:form.select
                    id="user"
                    class="form-control"
                    property="user"
                    options="{users}"
                    optionValueField="uid"
                    value="{user.email}"
                    optionLabelField="email"
                    prependOptionLabel="{f:translate(key: 'please_select')}"
            />
        </f:then>
        <f:else>
            <f:form.select
                    id="user"
                    class="form-control disabled"
                    optionValueField="uid"
                    optionLabelField="email"
                    property="user"
                    options="{0:chooseUser}"
            />
        </f:else>
    </f:security.ifHasRole>
</div>
<div class="form-group">
    <label for="comment">
        <f:translate key="tx_ehpapm_domain_model_absence.comment"/>
    </label>
    <f:form.textarea
            property="comment"
            class="form-control"
            id="comment"
            cols="40"
            rows="15"/>
</div>

</html>