<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{ticket.task.0.spentHours} > 8">
    <div class="form-group">
        <div class="alert alert-danger" role="alert">You exceeded 8-hour limit allowed for this task</div>
    </div>
</f:if>
<div class="form-group">
    <label for="ticket-description">
        <f:translate key="tx_ehpapm_domain_model_ticket.description"/>
    </label>
    <f:form.textarea
            property="description"
            class="form-control"
            id="ticket-description"
            value="{ticket.description}"
            cols="40"
            rows="15"/>
</div>
<div class="form-group">
    <label>
        <f:translate key="tx_ehpapm_domain_model_ticket.spent_time"/>
    </label>
    <div class="input-group input-daterange">
        <div class="input-group-addon">Hours</div>
        <f:form.textfield property="spentTimeHours"
                          value="{f:if(condition: ticket.spentTimeHours, then: ticket.spentTimeHours, else: '0')}"
                          class="form-control" id="spent_time_hours"/>
        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
        <div class="input-group-addon">Minutes</div>
        <f:form.textfield property="spentTimeMinutes"
                          value="{f:if(condition: ticket.spentTimeMinutes, then: ticket.spentTimeMinutes, else: '0')}"
                          class="form-control minutes" data="{max: '59'}" id="spent_time_minutes"/>
        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
    </div>
</div>
<div class="form-group ">
    <label for="for_date">
        <f:translate key="tx_ehpapm_domain_model_ticket.for_date"/>
    </label>
    <div class="input-group datetimepicker">
        <f:form.textfield
                property="forDate"
                class="form-control"
                id="for_date"
                value="{ticket.forDate -> f:format.date(format: 'd/m/Y')}"
                required="1"/>
        <span class="input-group-addon">
                <span class="glyphicon glyphicon-time">
                </span>
            </span>
    </div>
</div>

<div class="form-group">
    <label for="task">
        <f:translate key="tx_ehpapm_domain_model_task"/>
    </label>
    <f:if condition="{ticket.task}">
        <f:then>
            <f:form.select
                    id="task"
                    class="form-control"
                    property="task.*"
                    options="{tasks}"
                    value="{task}"
                    optionValueField="uid"
                    optionLabelField="label"
                    additionalAttributes="{required: 'required'}"
                    prependOptionValue="{ticket.task.0.uid}"
            />
        </f:then>
        <f:else>
            <f:form.select
                    id="task"
                    class="form-control"
                    property="task.*"
                    options="{tasks}"
                    value="{ticket.task.0}"
                    optionValueField="uid"
                    optionLabelField="label"
                    additionalAttributes="{required: 'required'}"
            />
        </f:else>
    </f:if>
</div>
<f:form.hidden
        property="logTime"
        value="{logTime}"
        class="hidden"
/>
</html>