<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <div class="row">
        <div class="col-md-12">
            <div class="content-box-large">
                <div class="panel-heading">
                    <h1>Edit Project</h1>
                </div>
                <div class="panel-body">
                    <f:render partial="FormErrors"/>
                    <f:form class="ehpapm-form" action="update" name="project" object="{project}">
                        <f:render partial="Project/FormFields" arguments="{_all}"/>
                        <div class="btn-group" role="group">
                            <f:form.submit value="Save" class="btn btn-primary"/>
                            <f:link.action action="list" class="btn btn-warning">Cancel</f:link.action>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
    </div>
</f:section>
</html>