<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
    <div class="content-box-large">
        <div class="panel-heading">
            <h1>Projects</h1>
        </div>
        <div class="panel-body">
            <f:security.ifHasRole role="{settings.admingroup}">
                <div class="pull-right">
                    <f:link.action action="new" class="btn btn-default">New Project</f:link.action>
                </div>
            </f:security.ifHasRole>
            <f:widget.paginate objects="{projects}"
                               as="paginateProjects"
                               configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 4}">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>
                                <f:translate key="tx_ehpapm_domain_model_project.name"/>
                            </th>
                            <th>
                                <f:translate key="tx_ehpapm_domain_model_project.description"/>
                            </th>
                            <f:security.ifHasRole role="{settings.admingroup}">
                                <th></th>
                            </f:security.ifHasRole>
                        </tr>
                        </thead>
                        <tbody>
                        <f:for each="{paginateProjects}" as="project" iteration="i">
                            <f:render partial="Project/ProjectList" arguments="{_all}"/>
                        </f:for>
                        </tbody>
                    </table>
                </div>
            </f:widget.paginate>
            <f:security.ifHasRole role="{settings.admingroup}">
                <div class="pull-right">
                    <f:link.action action="new" class="btn btn-default">New Project</f:link.action>
                </div>
            </f:security.ifHasRole>
        </div>
    </div>
</f:section>
</html>


