<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

    <div class="content-box-large">
        <div class="panel-heading">
            <h1>Tasks</h1>
        </div>
        <div class="panel-body">
            <f:form action="list" enctype="multipart/form-data" name="chooseProject">
                <div class="form-group">
                    <label for="project">Select Project</label>
                    <f:form.select
                            id="project"
                            class="form-control"
                            property="project"
                            value="{project}"
                            options="{projects}"
                            optionValueField="uid"
                            optionLabelField="name"
                            additionalAttributes="{onchange:'this.form.submit()'}"
                            prependOptionLabel="{f:translate(key: 'please_select')}"
                    />
                </div>
            </f:form>
        </div>
        <div class="panel-body">
            <f:security.ifHasRole role="{settings.admingroup}">
                <div class="pull-right">
                    <f:link.action action="new" controller="Task" class="btn btn-default">New Task</f:link.action>
                </div>
            </f:security.ifHasRole>
            <f:widget.paginate objects="{tasks}"
                               as="paginateTasks"
                               configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 4}">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>
                            <f:translate key="tx_ehpapm_domain_model_task.name"/>
                        </th>
                        <th>
                            <f:translate key="tx_ehpapm_domain_model_task.description"/>
                        </th>
                        <th>
                            <f:translate key="tx_ehpapm_domain_model_ticket.spent_time"/>
                        </th>
                        <th>
                            <f:translate key="tx_ehpapm_domain_model_task.estimate"/>
                        </th>
                        <th>
                            <f:translate key="tx_ehpapm_domain_model_task.left"/>
                        </th>
                        <th>
                            <f:translate key="tx_ehpapm_domain_model_task.deadline"/>
                        </th>
                        <th>
                            <f:translate key="tx_ehpapm_domain_model_task.user"/>
                        </th>
                        <f:security.ifHasRole role="{settings.admingroup}">
                            <th></th>
                        </f:security.ifHasRole>
                    </tr>
                    </thead>
                    <tbody>
                        <f:for each="{paginateTasks}" as="task" iteration="i">
                            <f:render partial="Project/TaskList" arguments="{_all}"/>
                        </f:for>
                    </tbody>
                </table>
            </div>
            </f:widget.paginate>
            <f:security.ifHasRole role="{settings.admingroup}">
                <div class="pull-right">
                    <f:link.action action="new" controller="Task" class="btn btn-default">New Task</f:link.action>
                </div>
            </f:security.ifHasRole>
        </div>
    </div>
</f:section>
</html>