<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="name">
                <f:translate key="tx_ehpapm_domain_model_project.name"/>
            </label>
            <f:form.textfield property="name" class="form-control" id="name" required="1"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="project-description">
                <f:translate key="tx_ehpapm_domain_model_project.description"/>
            </label>
            <f:form.textarea property="description" class="form-control" id="project-description" cols="40" rows="15"/>
        </div>
    </div>
</div>
</html>