<f:if condition="{project}">
    <tr>
        <td width="5%">
            {project.uid}
        </td>
        <td width="20%">
            <b>{project.name}</b>
        </td>
        <td width="45%">
            {project.description ->
            f:format.html(parseFuncTSPath:
            'lib.parseFunc')}
        </td>
        <td width="30%">
            <f:security.ifHasRole role="{settings.admingroup}">
                <div class="btn-group pull-right" role="group">
                    <f:link.action action="edit"
                                   arguments="{project : project}"
                                   additionalAttributes="{role : 'button'}"
                                   class="btn btn-default btn-primary">
                        Edit
                    </f:link.action>
                    <f:link.action action="delete"
                                   arguments="{project : project}"
                                   additionalAttributes="{role : 'button'}"
                                   class="btn btn-default btn-danger">
                        Delete
                    </f:link.action>
                </div>
            </f:security.ifHasRole>
        </td>
    </tr>
</f:if>
