<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ehpapm" >
	<tr>
		<td>
			<f:translate key="tx_ehpapm_domain_model_project.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ehpapm_domain_model_project.description" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>