{namespace ehpapm=Peaksourcing\Ehpapm\ViewHelpers}
<f:if condition="{task}">
    <tr {f:if(condition: '{task.spentHours} >= 12', then: 'style="background: #ffacac; color: #000;"')}>
        <td width="5%">
            {task.uid}
        </td>
        <td width="10%">
            <b>{task.project.0.name}</b><p>{task.name}</p>
        </td>
        <td width="15%">
            {task.description ->f:format.html(parseFuncTSPath:
            'lib.parseFunc')}
        </td>
        <td width="10%">
            {task.spentTime}
        </td>
        <td width="10%">
            {ehpapm:AddLeadingZero(number: task.estimateHours)}:{ehpapm:AddLeadingZero(number: task.estimateMinutes)}
        </td>
        <td width="10%">
            {ehpapm:AddLeadingZero(number: task.leftHours)}:{ehpapm:AddLeadingZero(number: task.leftMinutes)}
        </td>

        <td width="10%">
            {task.deadline -> f:format.date(format:
            'd/m/Y H:i')}
        </td>
        <td width="15%">
            <f:for each="{task.user}" as="user">
                {user.email}
            </f:for>
        </td>
        <td width="25%">
            <f:security.ifHasRole role="{settings.admingroup}">
                <div class="btn-group pull-right" role="group">
                    <f:link.action action="edit"
                                   controller="Task"
                                   additionalAttributes="{role : 'button'}"
                                   arguments="{task : task}"
                                   class="btn btn-default btn-primary">
                        Edit
                    </f:link.action>
                    <f:link.action action="delete"
                                   controller="Task"
                                   additionalAttributes="{role : 'button'}"
                                   arguments="{task : task}"
                                   class="btn btn-default btn-danger">
                        Delete
                    </f:link.action>
                </div>
            </f:security.ifHasRole>
        </td>
    </tr>
</f:if>
