{namespace ehpapm=Peaksourcing\Ehpapm\ViewHelpers}
<f:if condition="{ticket}">
    <tr>
        <td width="5%">
            {ticket.uid}
        </td>
        <td width="45%">
            <b>{ticket.task.0.name}</b>{ticket.description ->f:format.html(parseFuncTSPath:'lib.parseFunc')}
        </td>
        <td width="10%">
            {ehpapm:AddLeadingZero(number: ticket.spentTimeHours)}:{ehpapm:AddLeadingZero(number: ticket.spentTimeMinutes)}
        </td>
        <td width="10%">
            {ticket.forDate -> f:format.date(format: 'd/m/Y')}
        </td>
        <td width="30%">
            <div class="btn-group pull-right" role="group">
                <f:link.action action="edit"
                               controller="Ticket"
                               absolute="1"
                               additionalAttributes="{role : 'button'}"
                               arguments="{ticket : ticket, referer: '{f:if(condition: logTime, then: \'logTime\')}'}"
                               class="btn btn-default btn-primary">
                    Edit
                </f:link.action>
                <f:link.action action="delete"
                               controller="Ticket"
                               absolute="1"
                               additionalAttributes="{role : 'button'}"
                               arguments="{ticket : ticket, referer: '{f:if(condition: logTime, then: \'logTime\')}'}"
                               class="btn btn-default btn-danger">
                    Delete
                </f:link.action>
            </div>
        </td>
    </tr>
</f:if>
