<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="form-group">
    <label for="name">
        <f:translate key="tx_ehpapm_domain_model_task.name"/>
    </label>
    <f:form.textfield property="name" class="form-control" id="name" required="1"/>
</div>
<div class="form-group">
    <label for="deadline">
        <f:translate key="tx_ehpapm_domain_model_task.deadline"/>
    </label>
    <div class="input-group" id="deadline">
        <f:form.textfield
                property="deadline"
                class="form-control"
                value="{task.deadline -> f:format.date(format: 'd/m/Y H:i')}"
                required="1"/>
        <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>
    </div>
</div>
<div class="form-group">
    <label for="task-description">
        <f:translate key="tx_ehpapm_domain_model_task.description"/>
    </label>
    <f:form.textarea
            property="description"
            class="form-control"
            id="task-description"
            cols="40"
            rows="15"/>
</div>

<div class="form-group">
    <label>
        <f:translate key="tx_ehpapm_domain_model_task.estimate"/>
    </label>
    <div class="input-group input-daterange">
        <div class="input-group-addon">Hours</div>
        <f:form.textfield property="estimateHours" class="form-control" id="estimate_hours" required="1"/>
        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
        <div class="input-group-addon">Minutes</div>
        <f:form.textfield property="estimateMinutes" class="form-control minutes" data="{max: '59'}"
                          id="estimate_minutes" required="1"/>
        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
    </div>
</div>
<div class="form-group">
    <label for="project">
        <f:translate key="tx_ehpapm_domain_model_project"/>
    </label>
    <f:if condition="{task.project}">
        <f:then>
            <f:form.select
                    id="project"
                    class="form-control"
                    property="project.*"
                    options="{projects}"
                    optionValueField="uid"
                    optionLabelField="name"
                    additionalAttributes="{required: 'required'}"
                    prependOptionValue="{task.project.0.uid}"
            />
        </f:then>
        <f:else>
            <f:form.select
                    id="project"
                    class="form-control"
                    property="project.*"
                    options="{projects}"
                    optionValueField="uid"
                    optionLabelField="name"
                    additionalAttributes="{required: 'required'}"
                    prependOptionLabel="{f:translate(key: 'please_select')}"
            />
        </f:else>
    </f:if>
</div>
<div class="form-group">
    <label for="user">
        <f:translate key="tx_ehpapm_domain_model_user"/>
    </label>
    <f:form.select
            id="user"
            class="form-control"
            property="user.*"
            options="{users}"
            optionValueField="uid"
            value="{selectedUsers}"
            optionLabelField="email"
            additionalAttributes="{required: 'required'}"
    />
</div>
</html>