<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
    <div class="content-box-large">
        <div class="panel-heading">
            <h1>Ticket</h1>
        </div>
        <div class="panel-body">
            <f:form action="list" enctype="multipart/form-data" name="chooseTask">
                <div class="form-group">
                    <label for="task">Select Task</label>
                    <f:form.select
                            id="task"
                            class="form-control"
                            property="task"
                            options="{tasks}"
                            value="{task}"
                            optionValueField="uid"
                            optionLabelField="name"
                            additionalAttributes="{onchange:'this.form.submit()'}"
                            prependOptionLabel="{f:translate(key: 'please_select')}"
                    />
                </div>
            </f:form>
        </div>
        <div class="panel-body">
            <f:security.ifHasRole role="{settings.admingroup}">
                <div class="pull-right">
                    <f:link.action action="new" controller="Ticket" class="btn btn-default">New Ticket</f:link.action>
                </div>
            </f:security.ifHasRole>
            <tbody>
            <f:widget.paginate objects="{tickets}" as="paginateTickets"
                               configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 4}">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>
                                <f:translate
                                        key="tx_ehpapm_domain_model_ticket.description"/>
                            </th>
                            <th>
                                <f:translate
                                        key="tx_ehpapm_domain_model_ticket.spent_time"/>
                            </th>
                            <th>
                                <f:translate
                                        key="tx_ehpapm_domain_model_ticket.for_date"/>
                            </th>
                            <f:security.ifHasRole role="{settings.admingroup}">
                                <th></th>
                            </f:security.ifHasRole>
                        </tr>
                        </thead>
                        <f:for each="{paginateTickets}" as="ticket" iteration="i">
                            <f:render partial="Project/TicketList" arguments="{_all}"/>
                        </f:for>
                        </tbody>
                    </table>
                </div>
            </f:widget.paginate>
            <f:security.ifHasRole role="{settings.admingroup}">
                <div class="pull-right">
                    <f:link.action action="new" controller="Ticket" class="btn btn-default">New Ticket</f:link.action>
                </div>
            </f:security.ifHasRole>
        </div>
    </div>
</f:section>
</html>