[data-role="dynamic-fields"] > .form-inline + .form-inline {
  margin-top: 0.5em; }
[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
  display: none; }
[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
  display: inline-block; }
[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
  display: none; }

textarea.f3-form-error {
  background-color: #FF9F9F;
  border: 1px #FF0000 solid; }

input.f3-form-error {
  background-color: #FF9F9F;
  border: 1px #FF0000 solid; }

.typo3-messages .message-error {
  color: red; }

.typo3-messages .message-ok {
  color: green; }

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none; }

.more-less {
  float: right;
  color: #212121; }

.sidebar .nav a {
  font-size: 13px;
  line-height: 20px;
  padding: 8px 10px 8px 40px;
  color: #999;
  background: #fff;
  display: block;
  text-decoration: none;
  border-top: 0px;
  font-weight: bold; }
.sidebar .nav > li li a {
  padding-left: 55px; }

ul.f3-widget-paginator {
  display: table;
  padding-left: 0;
  margin: 10px auto;
  border-radius: 4px; }
  ul.f3-widget-paginator > li {
    display: inline;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd; }
    ul.f3-widget-paginator > li > a {
      display: block; }
    ul.f3-widget-paginator > li:hover {
      z-index: 2;
      color: #23527c; }
    ul.f3-widget-paginator > li.current {
      border: 1px solid #337ab7;
      color: #fff;
      cursor: default;
      background-color: #337ab7; }

.note-editor {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 10px;
  margin-top: 10px; }

#cke_editor1 {
  display: none; }

#spent_time_minutes-error,
#estimate_minutes-error {
  position: absolute;
  right: 0;
  top: 100%; }

input.error {
  border: solid red 0.5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(252, 0, 0, 0.07);
  box-shadow: inset 0 1px 1px rgba(252, 0, 0, 0.07); }

.disabled {
  pointer-events: none; }

.agenda .btn {
  cursor: default; }

/*# sourceMappingURL=pm.css.map */
